##Convert a json data from mongodb to required format and write in excel

In [1]:
jsondata =[{'_id': 724435670.0, 'BRANCH': 'AKV', 'CNSDT': 43434.0, 'CNSNO': 724435670.0, 'CNSTO': 'AKR', 'EXP': 5272.75, 
  'INCOME': 3584.0, 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.12, 'expected_card_rate': 9.57},
                                    'weight_loss': {'loss': 1, 'wt_loss_desc1': 'AKV-LAM', 'wt_loss_val_exp1': 1.0,
                                                    'wt_loss_val_act1': 1.078}}},
{'_id': 724423206.0, 'BRANCH': 'AKV', 'CNSDT': 43428.0, 'CNSNO': 724423206.0, 'CNSTO': 'AKR', 'EXP': 3888.76, 
 'INCOME': 3654.0, 
 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.119999999999999, 'expected_card_rate': 8.98}}},
 {'_id': 724422683.0, 'BRANCH': 'AKV', 'CNSDT': 43423.0, 'CNSNO': 724422683.0, 'CNSTO': 'AKR', 'EXP': 1725.34, 
  'INCOME': 1373.0, 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate':
6.12, 'expected_card_rate': 9.57}, 
'weight_loss': {'loss': 1, 'wt_loss_desc1': 'AKV-LAM', 'wt_loss_val_exp1': 1.0, 'wt_loss_val_act1': 1.2137}}},
 {'_id': 724421865.0, 'BRANCH': 'AKV', 'CNSDT': 43410.0, 'CNSNO': 724421865.0, 'CNSTO': 'AKR', 'EXP': 803.65, 
  'INCOME': 731.0, 
  'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.119999999999999, 'expected_card_rate': 9.57},
                  'weight_loss': {'loss': 1, 'wt_loss_desc1': 'AKV-LAM', 'wt_loss_val_exp1': 1.0,
                                  'wt_loss_val_act1': 1.6727}}}, {'_id': 724420071.0, 'BRANCH': 'AKV',
                                                                  'CNSDT': 43404.0, 'CNSNO': 724420071.0,
                                                                  'CNSTO': 'AKR', 'EXP': 787.24, 'INCOME': 681.0, 
                                                                  'reason_loss': 
                                                                  {'msp_loss': {'loss': 1, 
                                                                                'actual_card_rate': 6.119999999999999, 
                                                                                'expected_card_rate': 9.57}}},
 {'_id': 724420104.0, 'BRANCH': 'AKV', 'CNSDT': 43403.0, 'CNSNO': 724420104.0, 'CNSTO': 'AKR', 'EXP': 437.36, 
  'INCOME': 436.0, 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.12, 'expected_card_rate': 9.57}}},
 {'_id': 724420126.0, 'BRANCH': 'AKV', 'CNSDT': 43403.0, 'CNSNO': 724420126.0, 'CNSTO': 'AKR', 'EXP': 1151.05, 
  'INCOME': 956.0, 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.12, 'expected_card_rate': 9.57}}},
 {'_id': 724399384.0, 'BRANCH': 'AKV', 'CNSDT': 43390.0, 'CNSNO': 724399384.0, 'CNSTO': 'AKR', 'EXP': 544.56, 
  'INCOME': 543.0, 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.12, 'expected_card_rate': 9.57}}},
 {'_id': 724398662.0, 'BRANCH': 'AKV', 'CNSDT': 43382.0, 'CNSNO': 724398662.0, 'CNSTO': 'AKR', 'EXP': 1154.29, 
  'INCOME': 986.0, 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.12, 'expected_card_rate': 9.57}}}, 
 {'_id': 724398500.0, 'BRANCH': 'AKV', 'CNSDT': 43378.0, 'CNSNO': 724398500.0, 'CNSTO': 'AKR', 'EXP': 7643.33, 
  'INCOME': 6394.0, 'reason_loss': {'msp_loss': {'loss': 1, 'actual_card_rate': 6.12, 'expected_card_rate': 8.98}}}]

In [ ]:
type(jsondata)

In [ ]:
import pandas as pd
df = pd.DataFrame(jsondata)
print(df)

In [ ]:
len(df)

In [6]:
type(jsondata[1]["reason_loss"])

dict

In [7]:
diction = jsondata[2]["reason_loss"]

In [17]:
A=diction.keys()

In [18]:
A

dict_keys(['msp_loss', 'weight_loss'])

In [20]:
B=diction.values()

In [21]:
B

dict_values([{'loss': 1, 'actual_card_rate': 6.12, 'expected_card_rate': 9.57}, {'loss': 1, 'wt_loss_desc1': 'AKV-LAM', 'wt_loss_val_exp1': 1.0, 'wt_loss_val_act1': 1.2137}])

TypeError: 'dict_values' object does not support indexing

In [4]:
df1 = pd.DataFrame(jsondata[2]["reason_loss"])

In [5]:
df1

                    msp_loss weight_loss
actual_card_rate        6.12         NaN
expected_card_rate      9.57         NaN
loss                    1.00           1
wt_loss_desc1            NaN     AKV-LAM
wt_loss_val_act1         NaN      1.2137
wt_loss_val_exp1         NaN           1

In [34]:
df1["msp_loss"]["actual_card_rate"]

6.12

In [27]:
val=df1.iloc[:]
print(val)

                    msp_loss weight_loss
actual_card_rate        6.12         NaN
expected_card_rate      9.57         NaN
loss                    1.00           1
wt_loss_desc1            NaN     AKV-LAM
wt_loss_val_act1         NaN      1.2137
wt_loss_val_exp1         NaN           1

In [ ]:
col_name = list(df1.index.values)

In [ ]:
col_name

In [ ]:
col = df1.columns

In [ ]:
col

In [ ]:
len(col)

In [ ]:
str1=col[1]+"_"

In [ ]:
str1

In [ ]:
new_col=[str1 + s for s in col_name]

In [ ]:
new_col

In [ ]:
df1

In [ ]:
df.append(df1)

In [101]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import datetime
def wexl(data):
    system_datetime = datetime.datetime.now()
    str1 = str(system_datetime)
    str2 = str1.replace(" ", "_")
    str3 = str2.replace(".","_")
    str4 = str3.replace(":","_")
    excelfilename = 'MongoData_'+str4+'.xlsx'
    writer = ExcelWriter(excelfilename)
    data.to_excel(writer,'Sheet1',index=False)
    writer.save()
def main():
    df = pd.DataFrame(jsondata)
    #print("original data ",df)
    df3 = pd.DataFrame()
    rows = len(df)
    for i in range(0,rows):
        df1 = pd.DataFrame(jsondata[i]["reason_loss"])
        col_name = list(df1.index.values)
        col = df1.columns
        pre_row = len(col)
        data=[]
        for j in range(0,pre_row):
            str1 = col[j]+"_"
            str2=col[j]
            val = [df1[col[j]][s] for s in col_name]
            new_col_name=[str1 + s for s in col_name]
            dict1= dict(zip( new_col_name, val))
            data.append(dict1)
            df2 = pd.DataFrame(data)
        df2["CNSNO"]=jsondata[i]["CNSNO"]
        df3 = df3.append(df2, ignore_index=True)
    #print(df3)
    df4 = df.loc[:, df.columns != 'reason_loss']
    df5=pd.merge(df4,df3,on='CNSNO')
    #df5 = df4.append(df3,ignore_index=False)
    print(df5)
    wexl(df5)
if __name__=="__main__":
    main()

C:\Users\tci1\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

   BRANCH    CNSDT        CNSNO CNSTO      EXP  INCOME          _id  \
0     AKV  43434.0  724435670.0   AKR  5272.75  3584.0  724435670.0
1     AKV  43434.0  724435670.0   AKR  5272.75  3584.0  724435670.0
2     AKV  43428.0  724423206.0   AKR  3888.76  3654.0  724423206.0
3     AKV  43423.0  724422683.0   AKR  1725.34  1373.0  724422683.0
4     AKV  43423.0  724422683.0   AKR  1725.34  1373.0  724422683.0
5     AKV  43410.0  724421865.0   AKR   803.65   731.0  724421865.0
6     AKV  43410.0  724421865.0   AKR   803.65   731.0  724421865.0
7     AKV  43404.0  724420071.0   AKR   787.24   681.0  724420071.0
8     AKV  43403.0  724420104.0   AKR   437.36   436.0  724420104.0
9     AKV  43403.0  724420126.0   AKR  1151.05   956.0  724420126.0
10    AKV  43390.0  724399384.0   AKR   544.56   543.0  724399384.0
11    AKV  43382.0  724398662.0   AKR  1154.29   986.0  724398662.0
12    AKV  43378.0  724398500.0   AKR  7643.33  6394.0  724398500.0

    msp_loss_actual_card_rate  msp_loss_expected_card_rate  msp_loss_loss  \
0                        6.12                         9.57            1.0
1                         NaN                          NaN            NaN
2                        6.12                         8.98            1.0
3                        6.12                         9.57            1.0
4                         NaN                          NaN            NaN
5                        6.12                         9.57            1.0
6                         NaN                          NaN            NaN
7                        6.12                         9.57            1.0
8                        6.12                         9.57            1.0
9                        6.12                         9.57            1.0
10                       6.12                         9.57            1.0
11                       6.12                         9.57            1.0
12                       6.12                         8.98            1.0

    msp_loss_wt_loss_desc1  msp_loss_wt_loss_val_act1  \
0                      NaN                        NaN
1                      NaN                        NaN
2                      NaN                        NaN
3                      NaN                        NaN
4                      NaN                        NaN
5                      NaN                        NaN
6                      NaN                        NaN
7                      NaN                        NaN
8                      NaN                        NaN
9                      NaN                        NaN
10                     NaN                        NaN
11                     NaN                        NaN
12                     NaN                        NaN

    msp_loss_wt_loss_val_exp1  weight_loss_actual_card_rate  \
0                         NaN                           NaN
1                         NaN                           NaN
2                         NaN                           NaN
3                         NaN                           NaN
4                         NaN                           NaN
5                         NaN                           NaN
6                         NaN                           NaN
7                         NaN                           NaN
8                         NaN                           NaN
9                         NaN                           NaN
10                        NaN                           NaN
11                        NaN                           NaN
12                        NaN                           NaN

    weight_loss_expected_card_rate  weight_loss_loss  \
0                              NaN               NaN
1                              NaN               1.0
2                              NaN               NaN
3                              NaN               NaN
4                              NaN               1.0
5                              NaN               NaN
6                              NaN               1.0
7                              NaN               NaN
8                              NaN               NaN
9                              NaN               NaN
10                             NaN               NaN
11                             NaN               NaN
12                             NaN               NaN

   weight_loss_wt_loss_desc1  weight_loss_wt_loss_val_act1  \
0                        NaN                           NaN
1                    AKV-LAM                        1.0780
2                        NaN                           NaN
3                        NaN                           NaN
4                    AKV-LAM                        1.2137
5                        NaN                           NaN
6                    AKV-LAM                        1.6727
7                        NaN                           NaN
8                        NaN                           NaN
9                        NaN                           NaN
10                       NaN                           NaN
11                       NaN                           NaN
12                       NaN                           NaN

    weight_loss_wt_loss_val_exp1
0                            NaN
1                            1.0
2                            NaN
3                            NaN
4                            1.0
5                            NaN
6                            1.0
7                            NaN
8                            NaN
9                            NaN
10                           NaN
11                           NaN
12                           NaN